/************************* Estilos gerais ****************************/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alice", serif;
}

/************************* Estilos da página ****************************/
